################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LabFive/DesignTimeBuild/.dtbcache
/.vs
/LabFive/obj/Debug/netcoreapp3.0
